/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/app
/bootstrap
/config
/database
/public
/resources
/routes
/storage
/tests
.editorconfig
.env.example
.gitattributes
.styleci.yml
artisan
composer*.json
package*.json
phpunit.xml
server.php
webpack.mix.js
